@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

@* Home Page*@
<div class=" text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    @* Image of Joel*@
	<img src="~/images/joelhiltonheadshot.jpg" />
</div>
