@{
    ViewData["Title"] = "Get to Know Joel";
}
<h1>@ViewData["Title"]</h1>

<a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
<br />
<a href="https://baconsale.com/">Baconsale</a>
<br />
<br />
<a href="https://baconsale.com/"><img src="~/images/baconsalekate.jpg" /></a>
